<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datang.cn.dao.mapper.ProviderMapper">
  <resultMap id="BaseResultMap" type="com.datang.cn.model.User.Provider">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="provider_info" jdbcType="VARCHAR" property="providerInfo" />
    <result column="provider_info_member" jdbcType="VARCHAR" property="providerInfoMember" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="provider_img" jdbcType="VARCHAR" property="providerImg" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="auth_file" jdbcType="VARCHAR" property="authFile" />
    <result column="work_time" jdbcType="VARCHAR" property="workTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql><sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List">
    id, name, provider_info, provider_info_member, cellphone, password, provider_img, 
    region, wechat, qq, email, auth_file, work_time, create_time, tel, recommend, status, 
    province, city, area
  </sql>
  <select id="selectByExample" parameterType="com.datang.cn.model.User.ProviderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from provider
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from provider
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from provider
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.datang.cn.model.User.ProviderExample">
    delete from provider
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datang.cn.model.User.Provider">
    insert into provider (id, name, provider_info, 
      provider_info_member, cellphone, password, 
      provider_img, region, wechat, 
      qq, email, auth_file, 
      work_time, create_time, tel, 
      recommend, status, province, 
      city, area)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{providerInfo,jdbcType=VARCHAR}, 
      #{providerInfoMember,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{providerImg,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{authFile,jdbcType=VARCHAR}, 
      #{workTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{tel,jdbcType=VARCHAR}, 
      #{recommend,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.datang.cn.model.User.Provider">
    insert into provider
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="providerInfo != null">
        provider_info,
      </if>
      <if test="providerInfoMember != null">
        provider_info_member,
      </if>
      <if test="cellphone != null">
        cellphone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="providerImg != null">
        provider_img,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="authFile != null">
        auth_file,
      </if>
      <if test="workTime != null">
        work_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="providerInfo != null">
        #{providerInfo,jdbcType=VARCHAR},
      </if>
      <if test="providerInfoMember != null">
        #{providerInfoMember,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="providerImg != null">
        #{providerImg,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="authFile != null">
        #{authFile,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datang.cn.model.User.ProviderExample" resultType="java.lang.Long">
    select count(*) from provider
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update provider
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.providerInfo != null">
        provider_info = #{record.providerInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.providerInfoMember != null">
        provider_info_member = #{record.providerInfoMember,jdbcType=VARCHAR},
      </if>
      <if test="record.cellphone != null">
        cellphone = #{record.cellphone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.providerImg != null">
        provider_img = #{record.providerImg,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null">
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null">
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.authFile != null">
        auth_file = #{record.authFile,jdbcType=VARCHAR},
      </if>
      <if test="record.workTime != null">
        work_time = #{record.workTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.recommend != null">
        recommend = #{record.recommend,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update provider
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      provider_info = #{record.providerInfo,jdbcType=VARCHAR},
      provider_info_member = #{record.providerInfoMember,jdbcType=VARCHAR},
      cellphone = #{record.cellphone,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      provider_img = #{record.providerImg,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      auth_file = #{record.authFile,jdbcType=VARCHAR},
      work_time = #{record.workTime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      tel = #{record.tel,jdbcType=VARCHAR},
      recommend = #{record.recommend,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datang.cn.model.User.Provider">
    update provider
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="providerInfo != null">
        provider_info = #{providerInfo,jdbcType=VARCHAR},
      </if>
      <if test="providerInfoMember != null">
        provider_info_member = #{providerInfoMember,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="providerImg != null">
        provider_img = #{providerImg,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="authFile != null">
        auth_file = #{authFile,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        work_time = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datang.cn.model.User.Provider">
    update provider
    set name = #{name,jdbcType=VARCHAR},
    cellphone = #{cellphone,jdbcType=VARCHAR},
    wechat = #{wechat,jdbcType=VARCHAR},
    qq = #{qq,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
      <!-- provider_info = #{providerInfo,jdbcType=VARCHAR},
      provider_info_member = #{providerInfoMember,jdbcType=VARCHAR},
      
      password = #{password,jdbcType=VARCHAR},
      provider_img = #{providerImg,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      
      
      email = #{email,jdbcType=VARCHAR},
      auth_file = #{authFile,jdbcType=VARCHAR},
      work_time = #{workTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tel = #{tel,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR} -->
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getIdByCellPhone" parameterType="String" resultType="String">
    select id from provider where cellphone = #{value};
  </select>
</mapper>